/* GLOBAL */
@font-face{ font-family:"Raleway";
	src:url("css/polices/Raleway-Medium.woff2") format("woff2"), url("css/polices/Raleway-Medium.ttf") format("truetype");
}
body{
    font-family: "Raleway", Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


/********************/
/******************** BLOC PAGE ********************/
/********************/
#main_wrapper{
    margin: auto;
    max-width: 1440px;
}
section, header{
    margin: 60px 50px 60px 50px;
}


/********************/
/******************** HEBERGEMENT ********************/
/********************/
.container-hebergement-populaire{
    display: flex;
    justify-content: space-between;
    height: 621px;
}
article{
    height: 621px;
    width: 59.15%; /* -2 padding, ils sajoutent */
    padding-left: 42px;
    padding-right: 3.18%;
    background-color:#F2F2F2;
    border-radius: 22px 22px 22px 22px;
}
aside{
    height: 621px;
    width: 25.6%;
    padding-left: 39.5px;
    padding-right: 2.98%;
    background-color:#F2F2F2;
    border-radius: 22px 22px 22px 22px;
}


/* Réglages hébergement */
.container-hebergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 427px;
}
.block-6{
    padding: 5px; /*padding s'ajoute à width*/
    width: 30.2%;
    height: 188px; /*padding s'ajoute à height*/
    background-color: white;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0 7px 13px -5px #c8c3c3; /* #E4E4E4 */
}
.block-6 img{
    width:100%;
    height:114px;
    object-fit: cover;
    border-radius: 19px 19px 0px 0px;
}
/*mise en forme*/
.titre h2{
    margin:43px 0px 22px 0px;    
}
article > div:last-child{
    margin-top: 40px;
    margin-left: 3px; 
    font-weight: bold;
    font-size: 1.08em;
}

/*réglage populaire */
.container-populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 498px;
}
.block-3{
   height: 133px; /*-10px*/
   padding: 5px;
   background-color: white;
   border-radius: 21px 21px 21px 21px;
   box-shadow: 0 7px 13px -5px #c8c3c3;
}
.block-3 img{
    width:38.2%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 0px 0px 16px;
}

/* mise en forme */
.block-3 div{
    max-height: 150px; /*le cadre est bien limité mais le texte sort voir lecours A VIRER */
    margin-left: 44.4%;
    margin-top: -125px; /*trouvé empiriquement A VIRER */
    padding-right: 55px;
}
.block-3 span{
    font-weight: bold;
}
aside > div:nth-child(1){ /*titre*/
    margin-top: 41px;
    margin-bottom: 18px;
}
section a{
    text-decoration: none;
    color: black;
}

/********************/
/******************** ACTIVITE ********************/
/********************/
.container-activite{ 
    display:flex;
    justify-content: space-between;
    height: 442px;
    width: auto;
}
.container-activite-low{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 20%;
}
.block-large-2,.container-activite-low{ /* selection des 4 flex items */
    height: 442px; 
    width: 22.5%; /* LARGEUR des 4 blocks*/
    border-radius: 22px 22px 22px 22px;
}
/* réglage HAUTEUR des flex-items */
.block-large-2 img{  /*hauteur des 2 gros block*/
    width: 100%;
    height: 87.4%;
    object-fit: cover;
    border-radius: 22px 22px 0px 0px;
}

#block1{    /* image + legende */
    height:52.8%;
}
#block1 img{ /*image dans le block */
    width:100%;
    height: 76.5%;
    object-fit: cover;
}
#block2{    
    height:37.4%;
}
#block2 img{
    width: 100%;
    height: 66.8%;
    object-fit: cover;
}
#block3{    
    height:43.8%;
}
#block3 img{
    width: 100%;
    height: 71.9%;
    object-fit: cover;
}
#block4{    
    height:46.7%;
}
#block4 img{
    width: 100%;
    height: 73.6%;
    object-fit: cover;
}
/* mise en forme des flex-items */
.block-large-2{
   box-shadow: 0 7px 13px -5px #c8c3c3;
   
}
.block-small-4 img{
    border-radius: 22px 22px 0px 0px;  
}
.block-small-4{
    border-radius: 0px 0px 22px 22px;
    box-shadow: 0 7px 13px -5px #c8c3c3;
}
/*mise en forme titres images et h2*/
.block-large-2 div, .block-small-4 div{
    color: black;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 22px;
}
.block-large-2 a, .block-small-4 a{
    text-decoration: none;
}
section h2{
    font-size:1.4em;
    margin: 20px 0px 20px 0px; /* a modifier */
}


/********************/
/******************** FOOTER ********************/
/********************/
footer{
    display: flex;
    background-color:#F2F2F2; 
    height: 217px;
}
footer div{
    flex: 0.315;
    padding: 26px 0px 50px 50px;
}
footer h3{
    margin-bottom:19px;
}
footer ul{          
    margin: 0px;
    padding: 0px;  
}
footer ul li{
    list-style-type: none; 
    padding-bottom: 12px;
}
footer a{
    text-decoration: none;
    color: black;
}
