/* BLOC PAGE */
#main_wrapper{
    width:80%;
    margin: auto;
}

/* FOOTER */
footer{
    display: flex;
    background-color:rgb(242,242,242);
}
footer > ul:nth-child(2){
    margin-left: 10%;
}
footer > ul:nth-child(3){
    margin-left: 10%;
}
footer ul li{
    list-style-type: none;  
    }
a{
    text-decoration: none;
    color: black;
}