/* GLOBAL */
@font-face{ font-family:"Raleway";
	src:url("css/polices/Raleway-Regular.woff2") format("woff2"), url("css/polices/Raleway-Regular.ttf") format("truetype");
}
body{
    font-family: "Raleway", Verdana, sans-serif;
}
/* BLOC PAGE */
#main_wrapper{
    width:1200px;
    margin: auto;
}

/* FOOTER */
footer{
    display: flex;
    background-color:#F2F2F2;
}
footer div{
    flex:1;   
    padding: 30px 50px 50px 50px; /*retrait padding h3*/
}
footer ul li{
    list-style-type: none; 
    padding-bottom: 15px;    
}
footer ul{
    margin: 0px;
    padding: 0px;    
}
a{
    text-decoration: none;
    color: black;
}